<!DOCTYPE html>
<html>

<head>
	<title>Technical SEO check</title>
	<meta charset="utf-8">
	<link href="./styles/vendor/bootstrap.min.css" rel="stylesheet">
	<link href="./styles/vendor/material.min.css" rel="stylesheet">
	<link href="./styles/styles.css" rel="stylesheet">
</head>

<body>
	<div id="app" class="container">

		<div class="navbar notWhite">
			<div class="container-fluid">
				<div class="navbar-header">
          <b class="bold-color">SEO</b> friendly
				</div>
			</div>
		</div>

		<div class="form-group is-empty notWhite search">
			<input type="text" class="form-control col-md-8" placeholder="https://www.eample.com" id="comment" @keyup="getSEOReport"
				v-model="URL">
		</div>


    <div class="alert alert-dismissible alert-success" v-if="success == true">
        <p>{{successMessage}}</p>
      </div>

    <div class="alert alert-dismissible alert-warning" v-if="error == true">
			<p>{{errorMessage}}</p>
		</div>

		<div class="row">
			<div class="col-sm-12">

				<div class="row" v-if="loading == null">
					<div class="info-card">
						<h5>What is technical SEO</h5>
						<p>Technical search engine optimisation (SEO) describes the efforts of a webmaster to ensure their website is compatible
							with search engine guidelines, and can be indexed and ranked for keyphrase searches accordingly.</p>
					</div>
					<div class="info-card">
						<h5>What does this tool do?</h5>
						<p>
							This tool displays and non-exhaustive list of HTML, Javascript and CSS features a page is using which are not supported by
							the Google Search bot
						</p>
					</div>
					<div class="info-card">
						<h5>Why should I care?</h5>
						<p>
							If the Google bot cant render your site or parts of it. It wont index as high. So you can run this tool on your website and
							give out to your web developer if he uses unsupported features.
						</p>
					</div>
				</div>

				<div class="sk-fading-circle" v-if="loading == true">
					<div class="sk-circle1 sk-circle"></div>
					<div class="sk-circle2 sk-circle"></div>
					<div class="sk-circle3 sk-circle"></div>
					<div class="sk-circle4 sk-circle"></div>
					<div class="sk-circle5 sk-circle"></div>
					<div class="sk-circle6 sk-circle"></div>
					<div class="sk-circle7 sk-circle"></div>
					<div class="sk-circle8 sk-circle"></div>
					<div class="sk-circle9 sk-circle"></div>
					<div class="sk-circle10 sk-circle"></div>
					<div class="sk-circle11 sk-circle"></div>
					<div class="sk-circle12 sk-circle"></div>
				</div>


				<table v-if="loading == false" class="table no-border ">
					
					<tbody v-cloak v-for="item in features">
						<template v-if="item.supported == false">
							<tr>
								<td class="ellipsis"><a v-bind:href="item.url" target="_blank"> {{item.name}}</a></td>
								<td>
										<div class="label label-danger">Fail</div>
								</td>
							</tr>
						</template>

						<template v-if="item.supported == true">
							<tr>
								<td class="ellipsis">{{item.name}}</td>
								<td>	 <div class="label label-success">Pass</div></td>
							</tr>
						</template>
					</tbody>
				</table>
				
			</div>

			<div class="container navbar-bottom notWhite" v-if="features.length" v-bind:class="{ 'search-bottom-open': forwordOpen }">

			
				<div class="row">
          	<div class="form-group col-xs-12 notWhite noWhite-smaller search search-bottom" v-if="forwordOpen" >
                <input type="text" class="form-control col-md-8" placeholder="developerl@fix-this.com"  @keyup="sendEmailReport"
                v-model="email">
            </div>
					<div class="col-xs-4" v-on:click="goHome()">
							<i class="fa fa-home"	aria-hidden="true" title="Go home."></i>
					</div>
					<div class="col-xs-4" v-on:click="share()">
							<i class="fa fa-share" aria-hidden="true" title="Send the report to you web developer."></i>
					</div>
					<div class="col-xs-4" v-on:click="goTo('https://www.robertgabriel.ninja/seo-help')">
							<i	class="fa fa-question-circle" aria-hidden="true" title="Have questions that need anwsering?"></i>
					</div>
		 
				</div>
			</div>
		</div>
	</div>

	<script src="./scripts/vendor/vue.js" type="text/javascript"></script>
	<script src="./scripts/vendor/vue-resouce.js" type="text/javascript"></script>
	<script src="./scripts/vendor/fontawesome.js" type="text/javascript"></script>
	<script src="./scripts/app.js" type="text/javascript"></script>

</body>

</html>